#nav-bar {
  flex-basis: 20%;
  background-color: #FCF1E3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  height: auto;
}
#nav-bar > header {
  padding: 30px 20px 0;
  display: flex;
  flex-wrap: wrap;
}


.search-btn {
  border: none;
  background: none;
  margin-right: auto;
}


.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9614c;
  color: #fff;
  width: 260px;
  height: 44px;
  border: #fff;
  border-radius: 5px;
  font-family: esteadad;
}
.button {
  display: flex;
  justify-content: center;
}
.plus {
  width: 20px;
  height: 20px;
}



