
.title-poshe header {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;

}
.title-poshe header h2 {
    font-size: 12px;
    font-family: esteadad-NA;
    font-weight: 400;
}
.new-folder-button {
    border: none;
    background: none;
}

.nav-bar-item {
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
  }

  .nav-bar-item--selected {
    background: #FFFBFA;
  }

.NewFolderIcon{
    margin-left: 20px;
    background: #ececec;
    opacity: 0.9;
    padding: 5px;
    border-radius: 5px;
    cursor: progress;
}
.folder {
    margin-right: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    
 }

.input-new-folder{
  width: 135px;
  height: 24px;
  opacity: 70%;
  border: none;
  background:#fff;
  border-radius: 3px;
  font-family: esteadad-NA;
}    

.input-new-folder::placeholder {
    color: black;
    padding: 20px;
}

.input-new-folder:focus {
  outline-width: 1px;
  outline-color: #D9614C;
}

.btn-ok-new-folder{
    background: #ce6856;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: esteadad-NA;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}


.btn-cancel-new-folder{
    background: #da8a7c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: esteadad-NA;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}