.title-poshe header {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
}
.title-poshe header h2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.new-folder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 300ms ease;
  padding: 5px;
  border-radius: 4px;
}
.new-folder-button:hover {
  background-color: #fbe3c6;
}

.nav-bar-item {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.nav-bar-item--selected {
  background: #fffbfa;
}

.folder {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  gap: 15px;
  padding: 10px 20px;
}

.folder img {
  width: 20px;
  height: 20px;
}

.folder input {
  width: 40%;
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: 0;
  border-radius: 5px;
  transition: all 300ms ease;
}



.folder input::placeholder {
  color: black;
  font-family: esteadad-NA;
}

.folder input:focus {
  outline-width: 1px ;
  outline-color: #d9614c;
}

.btn-ok-new-folder {
  background: #ce6856;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: esteadad-NA;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.btn-cancel-new-folder {
  background: #da8a7c;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: esteadad-NA;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
