.container__404 {
  background-color: #f8eee2;
  width: 110vh;
  height: 100vh;
}

.img__404 {
  width: 90vh;
  margin-right: 590px;
}

.back_btn_home {
}

.back__btn__home {
  border: solid 1px;
  border-radius: 5px;
  color: aliceblue;
  background:  rgb(206, 159, 97) ;
  cursor: pointer;
}
